{
  "tokens": [ "yout_discord_bot_token" ],
  "command_tag": "your_tag",
  "music_client": {
    "searching_song": [ "searching...", "one moment searching", "trying to find" ],
    "user_not_in_vc": [ "Connect to a voice channel!", "you must be connected to voice channel" ],
    "cant_connect_to_vc": [ "Could not connect to the voice channel" ],
    "cant_download_song": [ "Could not download the song." ],
    "song_added_to_queue": [ " added to queue", " now in queue" ],
    "paused": [ "paused" ],
    "resumed": [ "resumed" ],
    "queue_empty": [ "No music in the queue." ],
    "queue_cleared": [ "Queue cleared!" ],
    "anchor_dropped": [ "!!!ANCHOR DROPPED!!!" ],
    "anchor_pickedup": [ "!!!ANCHOR PICKED UP!!!" ]
  },
  "spotify_settings": {
    "SPOTIFY_ENABLED": false,
    "SPOTIFY_CLIENT_ID": "",
    "SPOTIFY_CLIENT_SECRET": ""
  },
  "utility_client": {
    "flip": [ "You flipped coin and get " ],
    "rnd": [ "You pulled level and get  " ]
  },
  "logging": 3,
  "logging:enableFileLogging": true,
  "logging:enableConsoleLogging": true,
  "help_client": {
    "help_message": "```I saw that you need help, ok lets have a look at commands you can use:\n\n````````````For music````````````\n!play / !p - play the selected song\n!play Xx/ !p Xx - play the selected song X times\n!skip / !s - skip the current song\n!clear / !c - clear queue\n!leave / !l -  disconnect me from channel\nand below you cant find link which can add me to your other servers ```",
    "ready": "ready"
  },
  "use_database": true,
  "connection_string": "your_connection_string",
  "music_folder": "music"
}